.navigationItem {
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    float: left;
}

.navigationItem a {
    color: rgb(168, 147, 207);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .navigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .navigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .navigationItem a:hover,
    .navigationItem a:active,
    .navigationItem a.active {
        background-color: rgba(74,9,196,1);
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}