body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
font-family: 'Open Sans', sans-serif;
}	
p{
	margin:0;
	letter-spacing:1px;
	font-size: 0.9em;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- header --*/
.header {
    background: #000;
}
.header ul li {
    display: inline-block;
    width: 24.5%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 7px 0;
    letter-spacing: 1px;
    border-right: 1px solid #464444;
}
.header ul li a {
     color: #fff;
    text-decoration: none;
}
.header ul li i {
    margin-right: 12px;
    top: 2px;
    color: #2fdab8;
}
.header-right {
    text-align: right;
}
.header-left{
    text-align: left;	
}
.header-bot_inner_wthreeinfo_header_mid {
    margin: 0 auto;
    width: 90%;
}